.medium-box {
    width: 25%;
    height: 25vh;
    background-color: grey;
    box-sizing: border-box;
    float: left;
}

header {
    width: 100%;
    height: 25vh;
}

.title {
    width: 50%;
    height: 25vh;
    box-sizing: border-box;
    float: left;
    text-align: center;
}

@media (max-width: 400px) {
    .medium-box {
        display: none;
    }
    .title {
        width: 100%;
    }
}

.nav-item {
    height: 35px;
    background-color: grey;
    width: 15%;
    float: left;
    border-radius: 25px;
    margin: 5px;
}

/* nav::after {
    content: "";
    clear: both;
    display: table;
} */

/* main {
    clear: both;
} */

.clear-fix {
    clear: both;
}

.main-article, .sub-articles {
    width: 50%;
    height: 70vh;
    box-sizing: border-box;
    float: left;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    overflow: hidden;
}

@media (max-width: 400px) {
    .main-article, .sub-articles {
        width: 100%;
    }
}

.cover-image {
    background-color: grey;
    width: 100%;
    height: 60%;
}
hr {
    color: blue;
    border: 2px solid blue;
}

.main-article-text .main-title, .main-article-text p {
    width: 60%;
    padding-left: 20px;
    padding-right: 20px;
}

.main-article-text .main-title {
    background-color: grey;
    border-radius: 30px;
    height: 60px;
    margin-top: 25px; 
}

.sub-articles .sub-article {
    height: 33%;
    width: 100%;
    display: table;
    padding: 5px;
}

.sub-articles .sub-article .image {
    display: table-cell;
    height: 100%;
    width: calc(70vh/3);
    background-color: grey;
}
.sub-articles .sub-article p {
    padding: 5px;
    display: table-cell;
    vertical-align: middle;
}

.sub-articles-footer {
    width: 25%;
    height: 33vh;
    float: left;
    padding: 5px;
    box-sizing: border-box;
}

@media (max-width: 400px) {
    .sub-articles-footer {
        width: 100%;
        overflow: hidden;
    }
}
.sub-articles-footer .image {
    width: 100%;
    height: 80%;
    background-color: grey;
}